@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --franch-rose:#FF3877;
    --royal-blue: #162868;
}
 
.body-login,html{
    overflow: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* .section-principal-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
} */
 
.img-superior-direita, .img-superior-esquerda, .img-inferior-direita, .img-inferior-esquerda{
    position: absolute;
}

.img-inferior-direita{
    right: 0;
    bottom: 0;
}

.img-inferior-esquerda{
    left: 0;
    bottom: 0;
}

.img-superior-direita{
    right: 0;
    top: 10%;
}

.img-superior-esquerda{
    left: 0;
    top: 20%;
}
 
.botao-voltar{
    margin-left: 1%;
    display: flex;
    top: 100%;
    position: sticky;
    align-self: flex-start;
    /* background-color: red; */
}
 
.box-login{
    width: 85%;
    height: 83%;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    border-radius: 15px;
    transition: all .5s ease;
    /* will-change: transform; */
    /* box-sizing: border-box; */
    padding: 20px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha-login{
    height: 82%;
    position: fixed;
    border-right: 1.5px solid #ec6a93;
    border-radius: 20px;
}
 
.box-login:hover{
    background-color: rgba(240, 240, 240, 0.075);
    backdrop-filter: blur(30px);
 
    #linha-login{
        border-right: 1.5px solid #162868;
    }
}
 
.area-form-login{
    right: 1%;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3em;
    /* background-color: rgba(255, 0, 0,0.1); */
}

.recsenha-modal{
    position: fixed;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    border: none;
    width: 30vw;
    height: 25vh;
}

.recsenha-modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-recsenha{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-recpass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-title{
    text-align: center;
}

.modal-text{
    text-align: center;
    margin-bottom: 5%;
}

.close-modal{
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 5%;
    border-radius: 12px;
    background-color: #FF3877;
    border: none;
    padding: 10px 25px;
    margin: auto;
}
 
.forms-login{
    /* background-color: lime; */
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-login label{
    display: flex;
    align-self: flex-start;
    text-align: left;
}
 
.forms-login input{
    height: 39px;
}

.img-dog{
    display: flex;
    justify-content: flex-end;
    transition: ease .5s;
    width: 49%;
    /* background-color: red; */
}

.img-dog:hover{
    transition: ease .5s;
    transform: scale(1.03);
}
 
.area-img-login-h1-tiago{
   font-weight: 600;
   font-size: 45px;
   position: relative;
}
 
.area-input-login{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    /* box-sizing: border-box; */
}
 
.area-input-login .bi-envelope, .bi-lock{
    position: absolute;
    left: 10px;
}

.area-input-login .fa-eye, .fa-eye-slash{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
 
.input-login {
    width: 100%;
    height: fit-content;
    border: none;    
    border-radius: 6px;
    padding-left: 35px;        
    padding-right: 50px;        
    box-shadow: 2px 2px 4px 1px #162868;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    border-width: 0 0.5px 0.5px 0;
    border-style: solid;
    border-color: #162868;
    box-sizing: border-box;
}
 
.botao-login{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 45px;
    background-color: #162868;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    top: 40px;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 1px 3px 5px 2px #7d7d7d;
}

 
.botao-login:hover{
    box-shadow: 1px 3px 5px 3.5px #FF3877;
}
 
.linha-embaixo-recsenha-tiago{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #FF3877;
    transition: all .5s ease;
}
 
.linha-embaixo-recsenha-tiago:hover {
    width: 100px;
}
 
.div-esqueceu-senha-login{
    position: relative;
    align-self: flex-end;
}
 
.div-esqueceu-senha-login .esqueceu-a-senha-p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    border: none;
    text-decoration: none;
    color: black;;
}
 
.div-esqueceu-senha-login:hover .linha-embaixo-recsenha-tiago {
    width: 155px;
}

@media (max-width:575.98px){

    .box-login{
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #linha-login{
        display: none;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 120px;
        height: 120px;
        display: flex;
        width: fit-content;
    }

    .area-form-login{
        height: 100%;
        width: 100%;
    }

    .forms-login{
        width: 90%;
    }

    .img-dog{
        display: none;
    }

    .recsenha-modal{
        width: 80vw;
        height: 170px;
    }

    .modal-title{
        font-size: 20px;
    }

    .close-modal{
        width: 90px;
        height: 40px;
        font-size: 11.5px;
    }

    .modal-text{
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .botao-voltar{
        bottom: 2%;
        left: 6%;
    }
}

@media (min-width:576px){
    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 210px;
    }

    .forms-login{
        width: 90%;
    }
}

@media (min-width:768px){
    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 210px;
    }

    .forms-login{
        width: 90%;
    }

    .img-dog{
        width: 50%;
    }
}

@media (min-width:992px){
    .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 170px;
    }

    .img-inferior-direita{
        width: 210px;
    }

    .forms-login{
        width: 80%;
    }
}

@media (width: 1024px) and (height: 600px){

    
}

@media (min-width:1200px){
    .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 180px;
    }

    .img-inferior-direita{
        width: 220px;
    }

    .forms-login{
        width: 70%;
    }
}

@media (min-width:1400px){

    .img-superior-direita{
        width: 233px;
    }

    .img-superior-esquerda{
        width: 189px;
    }

    .img-inferior-esquerda{
        width: 193px;
    }

    .img-inferior-direita{
        width: 335px;
    }

    .forms-login{
        width: 60%;
    }

    .img-dog{
        width: 49%;
    }
}