@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/menu-adm.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.perfilEdit-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

.perfilEdit-superior-esquerda{
    position: fixed;
    top: 30%;
    left: 0%;
    z-index: -1;
}

.perfilEdit-superior-direita{
    position: fixed;
    right: 0%;
    top: 20%;
    z-index: -1;
}

.perfilEdit-inferior{
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    width: 12%;
}

.perfilEdit-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* background-color: purple; */
}

.perfilEdit-box{
    background-color: rgba(248, 245, 246, 0.706);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 95%;
    height: 89%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2%;
}

.perfilEdit-title{
    font-size: 40px;
    text-align: center;
    position: relative;
}

.perfilEdit-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    height: 92%;
    width: 70%;
    gap: 1rem;
}

.perfilEdit-empresas{
    display: flex;
    width: 100%;
    height: 11%;
    justify-content: space-between;
}

.PerfilEdit-info-tec{
    display: flex;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.novos_inputs {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

.input-info-tec{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-size: 12.9px;
}

/* .input-num-barraca{
    padding-left: 1%;
} */

.perfilEdit-logo, .perfilEdit-important-input{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 48%;
    height: 100%;
}

.perfilEdit-important-label{
    font-size: 18px;
}

.perfilEdit-upload{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    display: flex;
    color: grey;
    padding-left: 2%;
    padding-right: 3%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.perfilEdit-icone{
    max-width: 12%;
    max-height: auto;
    object-fit: cover;
    /* border-radius: 8px; */
    margin-left: 10%;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.perfilEdit-upload .perfilEdit-upload-label{
    font-size: 22px;
}

.perfilEdit-nome{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-size: 12.9px;
}

.perfilEdit-nome::placeholder{
    color: grey;
    font-size: 14px;
}

.perfilEdit-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}

.perfilEdit-label-desc{
    overflow-y: hidden;
    height: 18%;
}

.perfilEdit-text-desc{
    overflow: hidden;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    border-radius: 10px;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 12.9px;
}

.perfilEdit-info{
    display: flex;
    /* background-color: purple; */
    width: 100%;
    height: 6.5%;
    justify-content: space-between;
}

.perfilEdit-info div{
    gap: 10px;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

.fa-brands, .fa-solid{
    font-size: 20px;
}

.fa-square-instagram{
    color: #038edf;
}

.fa-square-whatsapp{
    color: #0fe04e;
}

.fa-square-facebook{
    color: #f88b0e;
}

.fa-envelope{
    color: #f11890;
}

.perfilEdit-input-info{
    border: none;
    outline: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    padding-left: 2%;
}

.perfilEdit-foto-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 29%;
    position: relative;
}

.perfilEdit-div-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.perfilEdit-load-foto{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
}

.bi-upload{
    font-size: 35px;
    color: #999999;
}

input[type="file"]{
    display: none;
}

.perfilEdit-upload-label-square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.perfilEdit-img{
    height: auto;
    width: 90%;
}

.perfilEdit-btns{
    right: 0%;
    background-color: red;
    display: flex;
    align-self: flex-end;
}

.perfilEdit-link-voltar{
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.perfilEdit-btn{
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

.perfilEdit-btn-cancel{
    background-color: #FF3877;
}

.perfilEdit-btn-save{
    background-color: #007E70;
}

.perfilEdit-img-voltar{
    height: fit-content;
}

@media (max-width: 575.98px) and (max-height: 740px){
    
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-box{
        height: 190vh;
        width: 92%;
    }

    .perfilEdit-title{
        bottom: unset;
    }

    .perfilEdit-icone{
        max-width: 10%;
        max-height: auto;
    }

    .perfilEdit-form{
        height: 90%;
        width: 90%;
        justify-content: unset;
    }

    .perfilEdit-empresas{
        flex-direction: column;
        height: 18%;
    }

    .PerfilEdit-info-tec{
        gap: unset;
    }

    .perfilEdit-desc{
        height: 35vh;
    }

    .perfilEdit-label-desc{
        height: unset;
    }

    .perfilEdit-text-desc{
        padding: 5px 5px 0px 5px;
    }

    .perfilEdit-important-input{
        width: 100%;
    }

    .perfilEdit-nome, .perfilEdit-upload{
        height: 50px;
    }

    .perfilEdit-input-info{
        height: 45px;
    }

    .perfilEdit-info{
        flex-direction: column;
        height: 25%;
        gap: 3%;
    }

    .fa-envelope{
        font-size: 18px;
    }

    .perfilEdit-info div{
        width: 100%;
    }

    .perfilEdit-foto-info{
        margin-top: 8%;
        min-height: 215px;
        max-height: 205px;
    }

    .perfilEdit-foto-info-label{
        position: relative;
    }

    .perfilEdit-load-foto{
        min-width: 165px;
        max-width: 165px;
    }

    .perfilEdit-icone{
        max-width: 23%;
        max-height: auto;
    }

    .perfilEdit-div-group{  
        max-width: 140vh;
        position: relative;
        overflow-x: auto;
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 4%;
    }

    .perfilEdit-btn{
        font-size: 16px;
    }
}

@media (max-width: 575.98px) and (min-height: 760px){
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-box{
        height: 150vh;
        width: 92%;
    }

    .perfilEdit-title{
        bottom: unset;
    }

    .perfilEdit-form{
        height: 90%;
        width: 90%;
        justify-content: unset;
    }

    .perfilEdit-empresas{
        flex-direction: column;
        height: 18%;
    }

    .PerfilEdit-info-tec{
        gap: unset;
    }

    .perfilEdit-desc{
        height: 20vh;
    }

    .perfilEdit-label-desc{
        height: unset;
    }

    .perfilEdit-text-desc{
        padding: 5px 5px 0px 5px;
    }

    .perfilEdit-important-input{
        width: 100%;
    }

    .perfilEdit-nome, .perfilEdit-upload{
        height: 50px;
    }

    .perfilEdit-input-info{
        height: 45px;
    }

    .perfilEdit-info{
        flex-direction: column;
        height: 25%;
        gap: 3%;
    }

    .fa-envelope{
        font-size: 18px;
    }

    .perfilEdit-info div{
        width: 100%;
    }

    .perfilEdit-foto-info{
        margin-top: 8%;
        min-height: 215px;
        max-height: 205px;
    }

    .perfilEdit-foto-info-label{
        position: relative;
    }

    .perfilEdit-load-foto{
        min-width: 165px;
        max-width: 165px;
    }

    .perfilEdit-icone{
        max-width: 23%;
        max-height: auto;
    }

    .perfilEdit-div-group{  
        max-width: 140vh;
        position: relative;
        overflow-x: auto;
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 4%;
    }

    .perfilEdit-btn{
        font-size: 16px;
    }
}

@media (min-width: 576px){
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-box{
        height: 140vh;
    }

    .perfilEdit-title{
        position: relative;
        bottom: 0%;
    }

    .perfilEdit-form{
        width: 90%;
        height: 95%;
        justify-content: space-between;
    }

    .perfilEdit-empresas{
        height: 80px;
    }

    .perfilEdit-upload, .perfilEdit-nome{
        padding-left: 4%;
    }

    .PerfilEdit-info-tec{
        gap: unset;
    }

    .perfilEdit-desc{
        height: 20%;
    }

    .perfilEdit-label-desc{
        height: unset;
    }

    .perfilEdit-info{
        display: flex;
        flex-direction: column;
        height: 17%;
        gap: 8px;
    }

    .perfilEdit-info div{
        width: 100%;
    }

    .perfilEdit-foto-info{
        min-height: 175px;
        max-height: 175px;
    }

    .perfilEdit-load-foto{
        max-width: 155px;
        min-width: 155px;
    }

    .perfilEdit-div-group{
        min-width: 85vw;
        position: relative;
        overflow-x: auto;
        padding: 0 1.5% 1.5% 1.5%;
    }

    .perfilEdit-btns{
        width: 50%;
        min-height: 55px;
        max-height: 55px;
    }

    .perfilEdit-link-voltar{
        right: 41%;
        bottom: 3%;
    }
}

@media (min-width: 768px){
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-title{
        position: relative;
        top: 0%;
    }

    .perfilEdit-box{
        height: 105vh;
    }

    .perfilEdit-form{
        width: 90%;
        height: 95%;
        justify-content: space-between;
    }

    .perfilEdit-empresas{
        height: 100px;
    }

    .PerfilEdit-info-tec{
        gap: unset;
    }

    .perfilEdit-desc{
        height: 20%;
        padding-bottom: unset;
    }

    .perfilEdit-label-desc{
        height: 25%;
    }

    .perfilEdit-info{
        flex-direction: column;
        gap: 10px;
        height: 180px;
    }

    .perfilEdit-input-info{
        height: 45px;
    }

    .perfilEdit-info div{
        width: 100%;
        height: 100%;
        
    }

    .perfilEdit-foto-info{
        margin-top: 5%;
        height: 180px;
    }

    .perfilEdit-load-foto{
        max-width: 145px;
        min-width: 145px;
    }

    .perfilEdit-div-group{
        width: 100%;
        position: relative;
        overflow-x: auto;
        padding: 0% 2% 2% 2%;
    }

    .perfilEdit-btns{
        
        width: 45%;
        min-height: 60px;
        max-height: 60px;
        bottom: 0%;
        position: relative
    }

    .perfilEdit-link-voltar{
        right: 42%;
        bottom: 2%;
        
    }
}

@media (min-width: 820px){
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-box{
        height: 90vh;
    }

    .perfilEdit-form{
        height: 95%;
        justify-content: space-between;
    }

    .perfilEdit-upload, .perfilEdit-nome{
        height: 50px;
    }

    .perfilEdit-desc{
        height: 50%;
        margin-bottom: unset;
    }

    .perfilEdit-label-desc{
        height: unset;
    }

    .perfilEdit-info{
        height: 30%;
        margin-bottom: -3%;
    }

    .perfilEdit-input-info{
        height: 40px;
    }

    .perfilEdit-foto-info{
        min-height: 185px;
        max-height: 185px;
        position: relative;
        top: 1%;
    }

    .perfilEdit-btns{
        min-height: 50px;
        max-height: 50px;
    }
}

@media (min-width: 912px){
    

    .perfilEdit-box{
        height: 80vh;
    }

    .perfilEdit-form{
        height: 95%;
        justify-content: space-between;
    }

    .perfilEdit-upload, .perfilEdit-nome{
        height: 50px;
    }

    .perfilEdit-desc{
        height: 20%;
        margin-bottom: unset;
    }

    .perfilEdit-label-desc{
        height: unset;
    }

    .perfilEdit-info{
        height: 30%;
        margin-bottom: -3%;
    }

    .perfilEdit-input-info{
        height: 45px;
    }

    .perfilEdit-foto-info{
        min-height: 185px;
        max-height: 185px;
        position: relative;
        top: 1%;
    }

    .perfilEdit-btns{
        min-height: 50px;
        max-height: 50px;
    }
}

@media (min-width: 992px){
    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    .perfilEdit-box{
        height: 90vh;
    }

    .perfilEdit-form{
        height: 90%;
    }

    .perfilEdit-empresas{
        height: 96px;
    }

    .perfilEdit-desc{
        height: 35%;
        margin-bottom: unset;
    }

    .perfilEdit-label-desc{
        height: 28px;
    }

    .perfilEdit-info{
        height: 40%;
        margin-bottom: unset;
    }

    .perfilEdit-info div{
        height: 100%;
    }

    .perfilEdit-input-info{
        height: 100%;
    }

    .perfilEdit-foto-info{
        max-height: 200px;
        min-height: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .PerfilEdit-info-tec{
        flex-direction: column;
    }
}

@media (min-width: 992px) and (min-height: 600px) and (orientation: landscape) {
    .perfilEdit-main{
        overflow-y: auto;
        height: 220vh;
        position: static;
    }

    .perfilEdit-box{
        height: 210vh;
        margin-top: 2%;
    }

    .perfilEdit-form{
        height: 85%;
    }

    .perfilEdit-empresas{
        height: 95px;
    }

    .perfilEdit-nome, .perfilEdit-upload{
        height: 55px;
    }

    .perfilEdit-info{
        margin-bottom: -4%;
        height: 210px;
    }

    .perfilEdit-input-info{
        height: 45px;
    }

    .perfilEdit-foto-info{
        height: 190px;
    }
}

@media (min-width: 1200px){
    
    .perfilEdit-main{
        height: 110vh;
    }

    .perfilEdit-box{
        height: 100vh;
        margin-top: 1%;
    }

    .perfilEdit-title{
        margin-top: 1%;
    }

    .perfilEdit-form{
        height: 100%;
        width: 75%;
        justify-content: space-between;
    }

    .perfilEdit-empresas{
        height: 85px;
    }

    .PerfilEdit-info-tec{
        gap: 1rem;
    }

    .perfilEdit-desc{
        height: 30%;
    }

    .perfilEdit-label-desc{
        height: 29px; 
    }

    .perfilEdit-info{
        display: flex;
        flex-direction: row;
        height: 45px;
        margin-bottom: -3%;
    }

    .perfilEdit-foto-info{
        min-height: 180px;
        max-height: 180px;
    }

    .perfilEdit-div-group{
        position: relative;
        overflow-x: auto;
        min-width: 90vh;
        padding: 0 1% 1% 1%;
    }

    .perfilEdit-load-foto{
        max-width: 145px;
        min-width: 145px;
    }

    .perfilEdit-btns{
        max-height: 45px;
        min-height: 45px;
        width: 30%;
    }

    .perfilEdit-link-voltar{
        bottom: 4%;
        right: 45%;
    }
}

@media (min-width: 1400px){
    .perfilEdit-main{
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 93%;
        bottom: 0;
    }

    .perfilEdit-box{
        width: 95%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .perfilEdit-title{
        position: relative;
        margin-top: unset;
        top: unset;
    }

    .perfilEdit-form{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        height: 92%;
        width: 70%;
    }

    .perfilEdit-desc{
        height: 80%;
        margin-bottom: unset;
    }

    .perfilEdit-text-desc{
        height: 100%;
    }

    .perfilEdit-info{
        margin-bottom: 0;
    }

    .perfilEdit-upload, .perfilEdit-nome{
        padding-left: 2%;
    }

    .perfilEdit-foto-info{
        min-height: unset;
        max-height: unset;
        top: unset;
        height: 100%;
        position: relative;
        margin-top: unset;
    }

    .perfilEdit-div-group{
        position: unset;
        overflow: unset;
        min-width: unset;
        padding: unset;
        width: unset;
    }

    .perfilEdit-load-foto{
        max-width: unset;
        min-width: unset;
    }

    .perfilEdit-btns{
        max-height: unset;
        min-height: unset;
        width: 30%;
        bottom: unset;
        position: relative;
    }

    .perfilEdit-link-voltar{
        position: relative;
        bottom: 4%;
        right: 45%;
    }
}